.block{
  width: 100px;
}
.block__element1{
  width: 100px;
}
.block__element2{
  width: 100px;
}
.block__element3{
  width: 100px;
}
.block__element4{
  width: 100px;
}

@include media(xs) {
  .block{
    width: 50px;
    .block__element1{
      width: 50px;
    }
    .block__element2{
      width: 50px;
    }
    .block__element3{
      width: 50px;
    }
    .block__element4{
      width: 50px;
    }
  }
}

.block--mod1{
  width: 200px;
  .block__element1{
    width: 200px;
  }
  .block__element2{
    width: 200px;
  }
  .block__element3{
    width: 200px;
  }
  .block__element4{
    width: 200px;
  }
  
  @include media(xs) {
    width: 50px;
    .block__element1{
      width: 50px;
    }
    .block__element2{
      width: 50px;
    }
    .block__element3{
      width: 50px;
    }
    .block__element4{
      width: 50px;
    }
  }
}

.block--mod2{
  width: 300px;
  .block__element1{
    width: 300px;
  }
  .block__element2{
    width: 300px;
  }
  .block__element3{
    width: 300px;
  }
  .block__element4{
    width: 300px;
  }
  
  @include media(xs) {
    width: 50px;
    .block__element1{
      width: 50px;
    }
    .block__element2{
      width: 50px;
    }
    .block__element3{
      width: 50px;
    }
    .block__element4{
      width: 50px;
    }
  }
}
