@font-face {
	font-family: 'name_font';
	src: url('/staticcontent/font/....../name_font.eot');
	src: url('/staticcontent/font/....../name_font.eot?#iefix') format('embedded-opentype'),
		 url('/staticcontent/font/....../name_font.woff2') format('woff2'),
		 url('/staticcontent/font/....../name_font.woff') format('woff'),
		 url('/staticcontent/font/....../name_font.ttf') format('truetype'),
		 url('/staticcontent/font/....../name_font.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}